<style>
    div#card-board>div.card>div.card-info>span.name {
        font-size: 13pt;
        grid-column: 1 / -1;
        font-weight: bolder;
    }

    div#card-board>div.card>div.card-info>span.price {
        color: var(--mint-green);
        display: flex;
        font-weight: bold;
        justify-content: flex-end;
    }
</style>

<script src="scripts/vehicles.js"></script>

<div class="modal hide">
    <div class="modal-header">
        <div class="modal-title">
            <h3>Add Vehicle</h3>
        </div>
        <div class="modal-controls">
            <button class="center" onclick="closeModal()">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
    <div class="modal-body">
        <div class="modal-form">
            <div class="form-line">
                <div class="input-box">
                    <label for="manufacturer">Manufacturer: </label>
                    <input type="text" name="manufacturer" id="manufacturer" required>
                </div>

                <div class="input-box">
                    <label for="vehicle_model">Model: </label>
                    <input type="text" name="model" id="vehicle_model" required>
                </div>
            </div>

            <div class="form-line">
                <div class="input-box">
                    <label for="price">Price: </label>
                    <input type="number" name="price" id="price" required>
                </div>

                <div class="input-box">
                    <label for="manufacturing_date">Date: </label>
                    <input type="date" name="manufacturing_date" id="manufacturing_date" required>
                </div>

                <div class="input-box">
                    <label for="type">Type: </label>
                    <select name="type" id="type" required>
                        <option value="Car">Car</option>
                        <option value="Motorcycle">Motorcycle</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-buttons">
            <button class="save" onclick="createVehicle()">Save</button>
            <button class="cancel" onclick="closeModal()">Cancel</button>
        </div>
    </div>
</div>

<div id="content">
    {{#if vehicles}}
    <div id="card-board">
        {{#each vehicles}}
        <div id="vehicleId{{this.id}}" class="card">
            <div class="card-info">
                <span class="name">{{this.manufacturer}} {{this.model}}</span>
                <span class="date">{{date this.manufacturing_date}}</span>
                <span class="price">{{currency this.price}}</span>
            </div>
            <div class="card-control">
                <button class="delete" onclick="deleteVehicle('{{this.id}}')"><i class="fa-solid fa-trash"></i></button>
            </div>
        </div>
        {{/each}}
    </div>
    {{else}}
    <div class="no-content">
        No vehicles
    </div>
    {{/if}}
</div>