<style>
    div#content {
        gap: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div#content>div.card {
        padding: 10px;
        background: var(--rich-black-flogra);
        border-radius: 10px;
    }
</style>

<div id="content">
    {{#each vehicles }}
    <div id="vehicleId{{this.id}}" class="card">
        <p>{{this.manufacturer}} {{this.model}}</p>
        <p><span>Year:</span> {{this.manufacturing_date}}</p>
        <p><span>Price:</span> {{currency this.price}}</p>
        <button onclick="deleteVehicle('{{this.id}}')"><i class="fa-solid fa-trash"></i></button>
    </div>
    {{else}}
    <p class="no-contenr">No content</p>
    {{/each}}
</div>